$white: #fff;
$grey: #eaeaea;
.hero {
  background: url('../assets/hero-bg.png') center/cover no-repeat; /* Adjust the path and background properties as needed */
  width: 100%; /* Set the width and height as needed */
  height: 650px; /* Set the height as needed */
  align-items: center;
  color: white;
}

// /* ContactForm.css */
.contactform {
  border-radius: 12px;
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.12);
  color: white;
  padding: 51px 28px;
  text-align: center;
  h3 {
    padding-bottom: 34px;
  }
  BUTTON {
    width: 221px;
    height: 56px;
    margin-top: 41px;
    border-radius: 4px;
    background-color: #5bc8af;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);

    &:active {
      background-color: #35BB9C;
    }
    &:hover {
      background-color: #5bc8af;

    }
  }
}
