$white: #fff;
// $primary: #0290ff;
$grey: #eaeaea;
$dark: #121212;
$trans: all 0.2s ease-in;

a {
  text-decoration: none;
  transition: $trans;
  &:hover {
    color: $white !important;
    // font-weight: 700;
  }
}

.header {
  width: 100%;
  padding: 1.4rem 0;
}

// .flex {
//   display: flex;
// }

.logo {
  // max-width: 15rem;
  font-family: Montserrat;
  // font-size: 1.875rem;
  // font-weight: bold;
  // color: $primary;
}

.nav {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // width: 75%;

  ul {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      a {
        padding: 1rem 1.25rem;
        font-size: 0.813rem;
        color: $dark;
        letter-spacing: 1.9px;
        text-transform: uppercase;
      }
    }
  }
}
