$white: #fff;
$grey: #eaeaea;
.footer {
margin-top: 100px;
overflow-x: hidden;
// height: 648px;
}

.left_sec {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="755" height="648" viewBox="0 0 755 648" fill="none"><path d="M0 0H719.719C635.252 274 831.175 323.5 719.719 648H0V0Z" fill="url(%23paint0_linear_1_237)"/><defs><linearGradient id="paint0_linear_1_237" x1="377.5" y1="0" x2="377.5" y2="648" gradientUnits="userSpaceOnUse"><stop stop-color="%23305D52"/><stop offset="1" stop-color="%23153F38"/></linearGradient></defs></svg>') center/cover no-repeat; /* Adjust the path and background properties as needed */
    width: 755px;
    // height: 708px;
    // align-items: center;
    color: $white;
    z-index: 12;


}
.video_heading{
    margin: 48px 95px 0px 95px;

// border: 10px solid red;

}

// .right_sec{
//     // width: 1000px;
//     // border: 10px solid yellow;
//     background: url('../assets/footer2.png') center/cover no-repeat rgba(25, 77, 68, 0.30); /* Adjust the path and background properties as needed */
// padding-left: -70px;
// // position: relative;

// }

.video_container {
    position: relative;
    left: -70px;
    
    img {
        width: 855px;
        height: 600px;
        // padding: 95px;

    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 855px;
        height: 100%;
        background: rgba(25, 77, 68, 0.30);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .text {
            margin-top: 10px;
            color: #fff;
            font-size: 18px;
        }
    }

    &:hover {
        .overlay {
            display: none;
        }
    }
}

